---
---
@import "minima";

@font-face {
    font-family: 'def';
    src: url('../fonts/MorePerfectDOSVGA.ttf') format('truetype');
}


body {
    background-color: #000000 !important;
    font-family: 'def', sans-serif !important;
    color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'def', sans-serif !important;
    color: #ffffff !important;
}

pre, code { background-color: #000000 !important}
