---
---
@import "minima";

@font-face {
    font-family: 'title';
    src: url('/assets/fonts/Karma-Future.otf') format('opentype');
}

@font-face {
    font-family: 'article';
    src: url('/assets/fonts/unifont-17.0.0.4.otf') format('opentype');
}

body {
    background-color: #656565 !important;
    font-family: 'article', sans-serif !important;
    color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'title', sans-serif !important;
    color: #ffffff !important;
}
